{% extends "base.html" %}
{% block title %}My Blog - {{ user.username }} {{ title }} {% endblock %}

{% block page_content %}
<div class="page-header">
    <h3>{{ user.username }} {{ title }} </h3>
</div>
<table class="table table-hover followers">
    <thead><tr><th>회원</th><th>시작</th></tr></thead>
    {% for follow in follows %}
        {% if follow.user != user %}
        <tr>
            <td>
                <a href="{{ url_for('.user', username = follow.user.username) }}">
                    <img class="img-rounded" src="{{ follow.user.gravatar(size=32) }}">
                    {{ follow.user.username }}
                </a>
            </td>
            <td>{{ moment(follow.timestamp).format('L') }}</td>
        </tr>
        {% endif %}
    {% endfor %}
</table>
{% include "_pagenate.html" %}
{% endblock %}
